@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.css";

/* div {
    border: 1px solid green;
} */

* {
    box-sizing: border-box;
}

.nav-item {
    margin-bottom: 1vh;
}

.admin-box {
    background: rgb(250, 250, 250);
    box-shadow: 5px 5px 15px rgb(230, 230, 230);
    color:darkslateblue;
    margin: 1vw;
    border-radius: 10px;
    padding: 1vw;
}

.admin-footer-box {
    background: rgb(250, 250, 250);
    box-shadow: 5px 5px 15px rgb(230, 230, 230);
    color:darkslateblue;
    margin: 1vw;
    border-radius: 10px;
    padding: 1vw;
}


.btn-primary {
    background: rgb(230, 230, 250);
    color:darkslateblue;
    border: 0px solid gray;
    box-shadow: 5px 5px 15px rgb(230, 230, 250);
}

.btn-info {
    background: rgb(230, 250, 240);
    color:darkslateblue;
    border: 0px solid gray;
    box-shadow: 5px 5px 15px rgb(230, 230, 250);
}

.btn-danger {
    background: rgb(250, 200, 200);
    color:darkred;
    border: 0px solid gray;
    box-shadow: 5px 5px 15px rgb(230, 230, 250);
}

.separator {
    height: 1px;
    background: black;
    margin: 1vh 3vh 5vh 3vh;
}

.empty-space {
    height: 1px;
    margin: 1vh 3vh 5vh 3vh;
}

.logo {
    max-height: 40px;
}

.title {
    display: flex;
    align-items: center;
    justify-items: center;
}